<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/qs-favicon-32x32.png">
    <link rel="stylesheet" href="scss/style.css">
    <title>Admin</title>
</head>
<body style="background-color: #f8f9fb;">

    <!-- Create a test name variable -->
    <% const firstName = 'Oliver' %>
    <% const lastName = 'Green' %>
    
    <div class="container admin">
        <h1 class="table-header text-left">
            <span>Bookings</span>
        </h1>
        <p class="text-left">
            Table of all bookings.
        </p>
        <table class="bookings-table" id="bookings-table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<data.length; i++) {%>
                    <% var date = data[i].date.getDate()+'/'+(data[i].date.getMonth()+1)+'/'+data[i].date.getFullYear() %>
                    <tr>
                        <td><%= data[i].first_name %></td>
                        <td><%= data[i].last_name %></td>
                        <td><%= date %></td>
                        <td><%= data[i].start_time %></td>
                        <td><%= data[i].status %></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../api/routes/admin.js"></script>
</body>
</html>