<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="x-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <link rel="icon" type="image/png" sizes="32x32" href="img/qs-favicon-32x32.png">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <title>Book ∙ QuocoSolar</title>
    </head>
    <body>
        <section class="header small">
            <nav>
                <a href="/" class="nav-logo-frame"><img src="img/logo_light.png" class="nav-logo"></a>
                <div class="nav-links" id="nav_links">
                    <i class="fas fa-times" id="hide_menu" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About Us</a></li>
                        <li><a href="why-now">Why Now</a></li>
                        <li><a href="consultation">Virtual Consultation</a></li>
                        <!-- <li><a href="events">Events</a></li> -->
                        <li><a href="information" class="information-resource-btn bold">Information Resource</a></li>
                    </ul>
                </div>
                <i class="fas fa-bars" id="show_menu" onclick="showMenu()"></i>
            </nav>
            <div class="hero-container">
                <!-- <h1>There Will Never Be a Better Time<br>To Solar Power Your Home</h1>
                <a href="why-now.html" class="hero-btn bold">FIND OUT WHY</a> -->
            </div>
            <svg class="hero-curve" xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 1680 40" class="position-absolute width-full z-1" style="bottom: -1px;"><path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#fff"></path></svg>
        </section>

        <section class="page-content">
            <div class="container">
                <div class="heading">
                    <h1 class="large-heading large-heading-gray text-left fw-700">
                        <span class="text-gradient-pink-blue">We are excited for you to start your solar journey!</span>
                    </h1>
                    <h1 class="large-heading gray-text-dark text-left fw-200">
                        Book a free virtual consultation with one of our professional consultants today. Zero cost. Zero obligation.
                    </h1>
                </div>
                <div class="section-card no-gap">
                    <div class="section-text">

                        <% if (success) { %>
                            <div class="success-prompt">
                                <strong>Successfully booked</strong>
                            </div>
                        <% } else { %>
                            <% if (errors) { %>
                                <% const first_name = errors.errors.find( ({ param }) => param === 'first_name' ); %>
                                <% var first_name_error %>
                                <% typeof first_name === 'undefined' ? first_name_error = '' : first_name_error = first_name.msg %>

                                <% const last_name = errors.errors.find( ({ param }) => param === 'last_name' ); %>
                                <% var last_name_error %>
                                <% typeof last_name === 'undefined' ? last_name_error = '' : last_name_error = last_name.msg %>

                                <% const email = errors.errors.find( ({ param }) => param === 'email' ); %>
                                <% var email_error %>
                                <% typeof email === 'undefined' ? email_error = '' : email_error = email.msg %>

                                <% const telephone = errors.errors.find( ({ param }) => param === 'telephone' ); %>
                                <% var telephone_error %>
                                <% typeof telephone === 'undefined' ? telephone_error = '' : telephone_error = telephone.msg %>

                                <% const date = errors.errors.find( ({ param }) => param === 'date' ); %>
                                <% var date_error %>
                                <% typeof date === 'undefined' ? date_error = '' : date_error = date.msg %>

                                <% const time = errors.errors.find( ({ param }) => param === 'time' ); %>
                                <% var time_error %>
                                <% typeof time === 'undefined' ? time_error = '' : time_error = time.msg %>

                                <% const q1 = errors.errors.find( ({ param }) => param === 'q1' ); %>
                                <% var q1_error %>
                                <% typeof q1 === 'undefined' ? q1_error = '' : q1_error = q1.msg %>

                                <% const q2 = errors.errors.find( ({ param }) => param === 'q2' ); %>
                                <% var q2_error %>
                                <% typeof q2 === 'undefined' ? q2_error = '' : q2_error = q2.msg %>
                            <% } %>
                        <% } %>

                        <!-- Form Start -->
                        <!-- action="/book/submit-booking" method="POST" -->
                        <form class="booking-form">
                            <ul>
                                <li>
                                    <label>Full Name<span class="required">*</span></label>
                                    <input type="text" name="first_name" class="field-divided" placeholder="First name" />
                                    <input type="text" name="last_name" class="field-divided" placeholder="Last name"/>
                                    <label for="first_name" class="field-divided inline error-prompt">
                                        <%= first_name_error %>
                                    </label>
                                    <label for="last_name" class="field-divided inline error-prompt">
                                        <%= last_name_error %>
                                    </label>
                                </li>
                                <li>
                                    <label>Email<span class="required">*</span></label>
                                    <input type="text" name="email" class="field-long" placeholder="your@email.com"/>
                                    <label for="email" class="error-prompt">
                                        <%= email_error %>
                                    </label>
                                    <!-- <label for="email" class="error-prompt">This email address is already being used.</label> -->
                                </li>
                                <li>
                                    <label>Telephone<span class="required">*</span></label>
                                    <input type="text" name="telephone" class="field-long" placeholder="07479926447"/>
                                    <label for="telephone" class="error-prompt">
                                        <%= telephone_error %>
                                    </label>
                                </li>
                                <li>
                                    <label>Date & Time<span class="required">*</span></label>
                                    <input type="date" id="" class="field-divided" name="date" value="" min="" max=""/>
                                    <input type="time" id="" class="field-divided" name="time" min="" max=""/>
                                    <!-- <select name="time" class="field-divided">
                                        <option selected="selected">Select time:</option>
                                        <option value="1">10:00</option>
                                        <option value="2">10:30</option>
                                        <option value="3">11:00</option>
                                        <option value="4">11:30</option>
                                        <option value="5">12:00</option>
                                        <option value="6">12:30</option>
                                        <option value="7">13:00</option>
                                        <option value="8">13:30</option>
                                        <option value="9">14:00</option>
                                        <option value="6">14:30</option>
                                        <option value="7">15:00</option>
                                        <option value="8">15:30</option>
                                        <option value="9">16:00</option>
                                        <option value="6">16:30</option>
                                        <option value="7">17:00</option>
                                    </select> -->
                                    <label for="date" class="field-divided inline error-prompt">
                                        <%= date_error %>
                                    </label>
                                    <label for="time" class="field-divided inline error-prompt">
                                        <%= time_error %>
                                    </label>
                                </li>
                                <li>
                                    <label>Question 1<span class="required">*</span></label>
                                    <input type="radio" id="q1_yes" name="q1" value="q1_yes"/>
                                    <label for="q1_yes" style="display: inline-block;">Yes</label>
                                    <input type="radio" id="q1_no" name="q1" value="q1_no" checked/>
                                    <label for="q1_no" style="display: inline-block;">No</label>
                                    <label for="q1" class="block error-prompt">
                                        <%= q1_error %>
                                    </label>
                                </li>
                                <li>
                                    <label>Question 2<span class="required">*</span></label>
                                    <input type="radio" id="q2_yes" name="q2" value="q2_yes"/>
                                    <label for="q2_yes" style="display: inline-block;">Yes</label>
                                    <input type="radio" id="q2_no" name="q2" value="q2_no" checked/>
                                    <label for="q2_no" style="display: inline-block;">No</label>
                                    <label for="q2" class="block error-prompt">
                                        <%= q2_error %>
                                    </label>
                                </li>

                                <!-- <li>
                                    <label>Subject</label>
                                    <select name="field5" class="field-select">
                                        <option value="Advertise">Advertise</option>
                                        <option value="Partnership">Partnership</option>
                                        <option value="General Question">General Question</option>
                                    </select>
                                </li> -->

                                <li>
                                    <input type="submit" value="Book" />
                                </li>
                            </ul>
                        </form>
                        <!-- Form End -->
                    </div>
                    <div class="section-image">
                        <img src="./img/svg/calendar.svg" />
                    </div>
                </div>
            </div>
        </section>

        <section class="package-comparison pr">

            <div class="package-column" style="flex: 1;">
                <div class="package-header">
                    <div class="package-title">
                        4kW Domestic Solar Power System
                    </div>
                </div>
                <div class="divider"></div>
                <div class="package-features">
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        4kW - 375w Monocrystalline panels
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Grade A panels - JA Solar / Longi
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Online system monitoring
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Full paperwork and handover
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Fully installed
                    </div>
                    <div class="feature inactive">
                        <img src="img/svg/times-circle.svg">
                        No battery storage
                    </div>
                </div>
                <div class="package-price-from">from</div>
                <div class="package-price">
                    <div class="pound-symbol">£</div>
                    4,295
                </div>
                <div class="package-price-equivalent">equivalent</div>
                <div class="package-price-monthly">
                    <div class="pound-symbol"><span class="asterisk">*</span>£</div>
                    69
                    <div class="per-month">p/month</div>
                </div>
                <a href="book"><button class="package-book-btn">Book a FREE Consultation</button></a>
            </div>

            <div class="package-column" style="flex: 1;"> <!-- popular -->
                <!-- <div class="most-popular">Popular</div> -->
                <div class="package-header">
                    <div class="package-title">
                        4kW Domestic Solar Power System
                    </div>
                </div>
                <div class="divider"></div>
                <div class="package-features">
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        4kW - 375w Monocrystalline panels
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Grade A panels - JA Solar / Longi
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Online system monitoring
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Full paperwork and handover
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Fully installed
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        4.8kW Battery storage
                    </div>
                </div>
                <div class="package-price-from">from</div>
                <div class="package-price">
                    <div class="pound-symbol">£</div>
                    7,295
                </div>
                <div class="package-price-equivalent">equivalent</div>
                <div class="package-price-monthly">
                    <div class="pound-symbol"><span class="asterisk">*</span>£</div>
                    81
                    <div class="per-month">p/month</div>
                </div>
                <a href="book"><button class="package-book-btn">Book a FREE Consultation</button></a>
            </div>

            <div class="package-column" style="flex: 1;">
                <div class="package-header">
                    <div class="package-title">
                        5kW Domestic Solar Power System
                    </div>
                </div>
                <div class="divider"></div>
                <div class="package-features">
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        5kW - 375w Monocrystalline panels
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Grade A panels - JA Solar / Longi
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Online system monitoring
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Full paperwork and handover
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        Fully installed
                    </div>
                    <div class="feature">
                        <img src="img/svg/check-circle.svg">
                        4.8kW battery storage
                    </div>
                </div>
                <div class="package-price-from">from</div>
                <div class="package-price">
                    <div class="pound-symbol">£</div>
                    7,995
                </div>
                <div class="package-price-equivalent">equivalent</div>
                <div class="package-price-monthly">
                    <div class="pound-symbol"><span class="asterisk">*</span>£</div>
                    83
                    <div class="per-month">p/month</div>
                </div>
                <a href="book"><button class="package-book-btn">Book a FREE Consultation</button></a>
            </div>

            <div class="skewed-bg"></div>

        </section>

        <footer class="footer">
            <div class=footer-container>
                <div class="footer-logo">
                    <a href="/" class="footer-logo-frame"><img src="img/logo_dark.png" class="footer-logo"></a>
                </div>
                <div class="footer-column">
                    <ul class="footer-links">
                        <li class="footer-link heading">NAVIGATION</li>
                        <li class="footer-link"><a href="/">Home</a></li>
                        <li class="footer-link"><a href="about">About Us</a></li>
                        <li class="footer-link"><a href="why-now">Why Now</a></li>
                        <li class="footer-link"><a href="consultation">Virtual Consultation</a></li>
                        <!-- <li class="footer-link"><a href="events">Events</a></li> -->
                        <li class="footer-link"><a href="information">Information Resource</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <section class="footer-disclaimers">
            <div class="disclaimers-container flex jc-sb">
                <div class="disclaimers">
                    <span style="font-size: 12px; margin-right: 18px;">© 2021 QuocoSolar</span>
                    <a href="site-policy/terms-of-service">Terms</a>
                    <a href="site-policy/privacy-statement">Privacy</a>
                </div>
                <div class="social-links">
                    <a href="https://twitter.com/quocosolar"><img src="img/svg/twitter.svg" height=18></a>
                    <a href="https://www.facebook.com/quocosolar"><img src="img/svg/facebook.svg" height=18></a>
                    <a href="https://www.youtube.com/quocosolar"><img src="img/svg/youtube.svg" height=18></a>
                </div>
            </div>
        </section>

        <!-- <script src="js/app.js"></script> -->
        <!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
        <!-- <script src="js/form.js"></script> -->
        <script src="js/sidenav.js"></script>
        <script src="js/custom-select.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </body>
</html>